@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Dependency Injection Lifetime Example</h1>
    <br />

    <h3>Transient Service</h3>
    @ViewBag.message1
    <br />
    @ViewBag.message2

    <h3>Scoped Service</h3>
    @ViewBag.message3
    <br />
    @ViewBag.message4

    <h3>Singleton Service</h3>
    @ViewBag.message5
    <br />
    @ViewBag.message6

    <h3>Refresh the page to understand more</h3>
</div>
